# IntelliJ / Android Studio
*.iml
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Gradle
.gradle
/local.properties
/build
/captures
.externalNativeBuild
.cxx

# OS fajlovi
.DS_Store
desktop.ini
Thumbs.db

# Firebase / Google
google-services.json
GoogleService-Info.plist

# Flutter specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
generated_plugin_registrant.dart

# Logs
*.log

# Environment / secrets
.env
.env.*
